<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav">
        <li class="nav-item mr-1">
            <button class="btn btn-primary" 
                    [disabled]="!isFolderSelected" 
                    (click)="onNewFile()">
                    Create new file
                </button>
        </li>
        <li class="nav-item mr-1">
            <button class="btn btn-secondary" 
                    [disabled]="!isFolderSelected"
                    (click)="onNewFolder()">
                    Create new folder
                </button>
        </li>
        <li class="nav-item">
            <button class="btn btn-danger" 
                    (click)="onConfirmDelete()"                    
                    *ngIf="selectedItem && selectedItem != tree">
                    Delete
            </button>
        </li>
    </ul>
</nav>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <ca-tree-item [item]="tree"></ca-tree-item>
        </div>
        <div class="col-sm">
            <ca-item-details 
                *ngIf="selectedItem" 
                [item]="selectedItem" 
                (cancel)="selectedItem = null"
                (save)="onFileSave($event)">
            </ca-item-details>
        </div>
    </div>
</div>


<ca-modal #createModal title="Create new">
    <ca-create-new (save)="onCreate($event)" (cancel)="onCancel(createModal)"></ca-create-new>
</ca-modal>
<ca-modal #deleteModal title="Delete">
    <ca-confirm *ngIf="selectedItem" [item]="selectedItem" (delete)="onDelete($event)" (cancel)="onCancel(deleteModal)"></ca-confirm>
</ca-modal>