li span.selected {
    font-weight: bold;
}
ul {
    list-style-type: none;
}

/* You can add global styles to this file, and also import other style files */
.dnd-drag-start {
    -moz-transform:scale(0.8);
    -webkit-transform:scale(0.8);
    transform:scale(0.8);
    opacity:0.7;
}

.dnd-drag-enter {
    opacity:0.7;
}

.dnd-sortable-drag {
  -moz-transform:scale(0.9);
  -webkit-transform:scale(0.9);
  transform:scale(0.9);
  opacity:0.7;
}

.highlight {
   background-color: #f5f5f5;
}
