<div  [ngClass]="{'highlight':item.highlight}">
<div dnd-droppable (onDragOver)="onDragEnter()" (onDragLeave)="onDragLeave()" (onDropSuccess)="drop($event)" [ngStyle]="{'z-index': level+1000}">
  <span 
    dnd-draggable 
    [dragEnabled]="!isFolder" 
    [dragData]="{item: item, parent: parent}"
    (click)="emitSelected()" 
    [ngClass]="{'selected':isSelected}" 
    *ngIf="item.name != ''">
    <i *ngIf="isFolder" class="fas fa-folder"></i>
    <i *ngIf="!isFolder" class="far fa-file"></i>
    {{item.name}}    
  </span>
</div>
<ul>
  <li *ngFor="let child of item.children" >
    <ca-tree-item [item]="child"></ca-tree-item>
  </li>
</ul>
</div>
