<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    File explorer
  </h1>  
</div>
<div class="container">
  <ca-file-explorer></ca-file-explorer>
</div>

