<p>
  Are you sure you want to delete {{item.name}}? 
  <ng-container *ngIf='isFolder'><br />All of the contents of this folder will also be deleted</ng-container>
</p>
<button class="btn btn-danger" (click)="onDelete()">Delete</button>
<button class="btn btn-link" (click)="onCancel()">Cancel</button>
