<ng-container *ngIf='isFile'>
    <div class="form-group">
        <label>Name:</label>
        <span>{{editModel.name}}</span>
    </div>

    <div class="form-group">
        <label>Creation date:</label>
        <span>{{editModel.date}}</span>
    </div>

    <div class="form-group">
        <label>Author</label>
        <input class="form-control" type="text" [(ngModel)]="editModel.author" />
    </div>

    <div class="form-group">
        <label>File contents</label>
        <textarea class="form-control"  type="text" [(ngModel)]="editModel.contents"></textarea>
    </div>

    <button class="btn btn-primary" (click)="onSave()">Save</button>
    <button class="btn btn-link" (click)="onCancel()">Cancel</button>
</ng-container>

<ng-container *ngIf='!isFile'>
    <label>Name</label>
    <span>{{item.name}}</span>
</ng-container>